# =================================================================
# .gitignore para el proyecto Django: Gestion_Reparaciones
# =================================================================

# Entornos virtuales
# -----------------------------------------------------------------
# Ignora el directorio del entorno virtual.
env/

venv/
.venv/

# Archivos de Bytecode y Cache de Python
# -----------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/

# Base de datos
# -----------------------------------------------------------------
# Ignora la base de datos de desarrollo SQLite.
db.sqlite3
db.sqlite3-journal

# Archivos de entorno
# -----------------------------------------------------------------
# ¡MUY IMPORTANTE! Nunca subas tus variables de entorno.
#.env

# Archivos estáticos y de medios
# -----------------------------------------------------------------
# Directorio donde `collectstatic` agrupa los archivos estáticos.
/staticfiles/
# Directorio para los archivos subidos por los usuarios.
/media/

# Archivos de configuración de IDEs y editores
# -----------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo

# Archivos generados por el sistema operativo
# -----------------------------------------------------------------
.DS_Store
Thumbs.db

# Archivos de logs y reportes
# -----------------------------------------------------------------
*.log
.coverage
htmlcov/