asgiref==3.8.1
bcrypt==4.3.0
Django==5.2.3
django-axes==8.0.0
django-stubs==5.2.1
django-stubs-ext==5.2.1
pillow==11.2.1
python-dotenv==1.1.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250516
typing_extensions==4.14.0
tzdata==2025.2
waitress==3.0.2
