:root {
    --primary-color: #3498db;
    --secondary-color: #3498db;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;

}

.header-banner {
    width: 100%;
    height: auto;
    position: relative;
    /* Para controlar el apilamiento */
    z-index: 10;
    /* Un valor alto para traerlo al frente */
}

.cintillo-banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Evita que la imagen se distorsione */
}

.navbar-brand {
    font-weight: bold;
}

.sidebar {
    min-height: calc(100vh - 56px);
    background-color: var(--primary-color);
}

.sidebar .nav-link {
    color: #ecf0f1;
    border-radius: 5px;
    margin: 2px 0;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--secondary-color);
    color: white;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card.text-bg-success .card-body,
.card.text-bg-warning .card-body,
.card.text-bg-info .card-body {
    color: #fff;
}

.card-title, .card-text {
    color: inherit;
}

.btn {
    border-radius: 25px;
}

.alert {
    border-radius: 10px;
    border: none;
}

.form-control {
    border-radius: 25px;
    border: 2px solid #e9ecef;
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}

.login-container {
    min-height: 100vh;
    background: linear-gradient(100deg, transparent 0%, #020287 100%);
}

.login-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}
input[type="password"]::-webkit-input-password-toggle-button {
    display: none !important;
}

select#nacionalidad {
        width: auto;
        flex: none;
    }